#container{
    height: 200px;
    width: 300px;
    background-color: yellow;
    position: relative;
}

.box{
    box-sizing: border-box;
    background-color: rgb(82, 82, 244);
}

.first, .third{
    height: 85px;
    width: 85px;
}

.third{
    position: absolute;
    bottom: 0px;
}

.second, .fourth{
    height: 85px;
    width: 185px;
    position: absolute;
}

.second{
    top: 0px;
    right: 0px;
}

.fourth{
    bottom: 0px;
    right: 0px;
}