*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
}

.container{
    display: flex ;
    background-color: aqua;
    padding: 5px;
    gap: 5px;
}

.box{
    height: 300px;
    width: 200px;
}

.first{
    background-color: yellow;
}

.second{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.child{
    height: 140px;
    background-color: red;
}